{% extends 'base.html.twig' %}

{% block body %}
<h1>Category</h1>

<table>
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ category.id }}</td>
        </tr>
        <tr>
            <th>Parent</th>
            <td>{{ category.parent }}</td>
        </tr>
        <tr>
            <th>Field</th>
            <td>{{ category.field }}</td>
        </tr>
    </tbody>
</table>
<ul>
{% for category in categories %}
    <li><a href='#'><span>{{ category.name }}</span></a></li>
    <ul>
    {% for sub_category in category.children %}
        <li><a href='#'><span>{{ sub_category.name }}</span></a></li>
    {% endfor %}
    </ul>
{% endfor %}
</ul>
 
<ul>
    <li>
        <a href="{{ path('category_index') }}">Back to the list</a>
    </li>
    <li>
        <a href="{{ path('category_edit', { 'id': category.id }) }}">Edit</a>
    </li>
    <li>
        {{ form_start(delete_form) }}
        <input type="submit" value="Delete">
        {{ form_end(delete_form) }}
    </li>
</ul>
{% endblock %}
