{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ratingusers list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Rating</th>
                <th>Comment</th>
                <th>Userid</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ratinguser in ratingusers %}
            <tr>
                <td><a href="{{ path('ratinguser_show', { 'id': ratinguser.id }) }}">{{ ratinguser.id }}</a></td>
                <td>{{ ratinguser.rating }}</td>
                <td>{{ ratinguser.comment }}</td>
                <td>{{ ratinguser.userId }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('ratinguser_show', { 'id': ratinguser.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('ratinguser_edit', { 'id': ratinguser.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ratinguser_new') }}">Create a new ratinguser</a>
        </li>
    </ul>
{% endblock %}
