{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ratinguser</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ratinguser.id }}</td>
            </tr>
            <tr>
                <th>Rating</th>
                <td>{{ ratinguser.rating }}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ ratinguser.comment }}</td>
            </tr>
            <tr>
                <th>Userid</th>
                <td>{{ ratinguser.userId }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ratinguser_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('ratinguser_edit', { 'id': ratinguser.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
